<!DOCTYPE html>
<html>
  <head>
    <title>Welcome,<%= user.studentname %></title>
  </head>
  <body>
    <div><h3>
      Username:<%= user.studentname %><br>
      Email-id:<%= user.emailid %><br>
      Contact No:<%= user.contactno %>
    </h3></div>
  </body>
</html>
